.contact-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-items {
    background-color: white;
    width: 300px;
}

.contact-item {
    color: #9d4343;  
    font-weight: 900;
    padding: 20px;
    font-size: 28px;
}