
.NavBar{
    /* background-color: #b48484; */
    background-color: #ffffff;
    border-bottom: 2px solid rgb(141, 141, 141);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    /* color:#b48484; */
    color: #9c3f3f;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    /* background-color:rgb(179, 151, 151) */
    /* color: #d8d8d8ad; */
    color:#9c3f3faf;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  